/*entire container*/
.container {
  width: 650px;
  margin: auto;
  /* padding-top: 50px; */
}
/* input and submit wrapper */
#paymentWrapper {
  display: none;
}
#display1 {
  width: 8rem;
  font-size: 2rem;
  color: white;
  background-color: red;
  border-radius: 10px;
}

/* css for quize question tamplate */

